*{
  box-sizing: border-box
}

header.rowcontainer {
  display: flex;
  background-color: rgb(183, 235, 248);
  margin: 0;
  width: 100%;
  height: 10rem;
  z-index: 0;
  font-family: 'Lobster', cursive;
  opacity: .7;
  justify-content: space-between;
  align-items: center;
}
NavLink{
  display: flex
}

#logo{
  height: 8rem;
  background-color: rgb(183, 235, 248);
  opacity: 1;
  z-index: 0;
  justify-content: flex-start;
}

.casual {
  display: flex;
  font-family: 'Indie Flower', cursive;

}
.drop-wrapper{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
h1#title {
  font-family: 'Lobster', cursive;
  font-size: 5rem;
  color: black;
  z-index: 1;

}
h1.big-text {
  font-family: 'Indie Flower', cursive;
  font-size: 2.5rem;
  color: black;
  z-index: 1;

}
h1.big-text-special {
  font-family: 'Indie Flower', cursive;
  font-size: 2.5rem;
  color: black;
  z-index: 1;
  width: 400;

}
nav {
  display: flex;
  justify-content: space-between;
  text-align: center;
  }

button#login{
  background: rgb(146, 187, 146);
  font-family: 'Lobster', cursive;
  border-radius: 25%;
  border:none;
  font-size:2em;
  padding-bottom: 1vh;
  padding-top: 1vh;
  color: black;
  width: 10vw;
}
.app{
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.fb{
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}
 #fb-pic{
  height: 300px;
  width: 300px;
  right: 0;
  left: 0;
}
h2.special{
  width: 300px;
  right: 0;
  left: 0;
  color: black;
  font-family: 'Lobster', cursive;
  font-size: 1.5rem;
}
.fbwrapper{
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}
input.form-like{
  width: 20vw;
  font-size:1em;
  font-family: 'Josefin Sans', sans-serif;
  color:rgb(156, 152, 152);
}
.add-fb {
  display: flex;
  position: absolute;
  top: 20vh;
}
a{
  color: black;
  font-family: 'Lobster', cursive;
  font-size: 2rem;
}
.big-text-a{
  color: black;
  font-family: 'Lobster', cursive;
  font-size: 2rem;
}
.med-text{
  color: black;
  font-family: 'Lobster', cursive;
  font-size: 1.5rem;
}
.nav-item {
  text-decoration: none;
  color: black;
  font-family: 'Indie Flower', cursive;
  font-size: 2rem;
  padding: 1rem;
  padding-top: 0;
  z-index: 1;
  height: 1rem;
}
  .fun-btn{
    background: rgb(146, 187, 146);
    font-family: 'Lobster', cursive;
    border-radius: 25%;
    border:none;
    font-size:2em;
    padding-bottom: 1vh;
    padding-top: 1vh;
    color: black;
    width: 10vw;
  }





